<div>{{sport}}</div>

<div>
    <p>Choose a League</p>
    <form method="POST" id="myForm" action="/sports/basketball/league">
        <select id="league" name="league">
            <option value="nba">NBA</option>
        </select>
        <input type="submit" value="submit">
    </form>
</div>