<div>{{sport}}</div>

<div>
    <p>Choose a League</p>
    <form method="POST" id="myForm" action="/sports/soccer/league">
        <select id="league" name="league">
            <option value="bpl">English Premier League</option>
            <option value="bundes">Bundesliga</option>
            <option value="esp">La Liga</option>
            <option value="mls">MLS</option>
        </select>
        <input type="submit" value="submit">
    </form>
</div>