<div>{{league}}</div>
<div>The file says...</div>
<div>{{file}}</div>


<div>
    <h2>Add a team</h2>
    <form action="/{{league}}">
        Team name: <input type="text" name="tname"><br>
    <input type="submit" value="Submit">
</form>
</div>